/* veikin */
.muan {
  width: 900px;
  margin: 0 auto;
  /* header */

  /* content */

}
.muan header {
  padding-top: 120px;
  position: relative;
}
.muan header hgroup {
  float: right;
}
.muan header .logo {
  display: block;
  height: 52px;
  width: 119px;
  background: url(../images/logo.gif);
  text-indent: -999em;
  overflow: hidden;
}
.muan header h2 {
  display: none;
}
.muan header nav {
  position: absolute;
  bottom: 0;
}
.muan header nav ul {
  overflow: hidden;
  _zoom: 1;
}
.muan header nav ul li {
  float: left;
  padding: 5px 8px;
  margin-right: 10px;
}
.muan header nav ul li a {
  display: inline-block;
  font-size: 14px;
}
.muan header nav ul li.on {
  background-color: #f8f8f0;
}
.muan .bbs-img {
  border: 1px solid #e5e5e5;
  display: block;
  margin: 10px 0 15px 0;
}
.muan .bbs-img img {
  display: block;
}
.muan .list {
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.muan .list .listCon {
  padding-bottom: 50px;
  clear: both;
}
.muan .list .listCon .listHot {
  clear: both;
}
.muan .list .listCon dl.fn-left {
  line-height: 22px;
}
.muan .list .listCon dl.fn-left dt {
  color: #C33;
  font-weight: bold;
  font-size: 14px;
}
.muan .list .listCon .listNum {
  font-size: 34px;
  color: #e5e5e5;
  position: relative;
  top: 30px;
}
.muan .list .listCon .listHot {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  margin: 5px 0;
}
.muan .list .listCon .listHot li {
  border-bottom: 1px dashed #CCC;
  line-height: 26px;
  height: 30px;
  padding: 0 5px;
}
.muan .list .listCon a.more {
  float: right;
}
.muan footer {
  text-align: right;
  padding: 10px 0 50px;
}
